In [1]:
from pyspark.sql.window import Window
from pyspark.sql.types import LongType
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql.functions import countDistinct, row_number
from pyspark.sql import SQLContext

In [2]:
sqlContext = SQLContext(sc)
dbutils.widgets.text("idunidade_operacional", "3")
dbutils.widgets.text("idcidade", "3")
dbutils.widgets.text("periodo_inicial", '2017-01-01')
dbutils.widgets.text("periodo_final", '2019-03-31')

In [3]:
sqlContext.sql("SET periodo_inicial = " + dbutils.widgets.get("periodo_inicial"))
sqlContext.sql("SET periodo_final = " + dbutils.widgets.get("periodo_final"))

In [4]:
unidade_operacional = dbutils.widgets.get("idunidade_operacional")
cidade = dbutils.widgets.get("idcidade")
nome_tabela_p = ""
nome_tabela_cad = ""
nome_tabela_cortes = ""

if (unidade_operacional == "17"):
  if (cidade == "43"):
    nome_tabela_pcr = "modelos_preditivos.kpi_saneatins_palmas_processos_"
    nome_tabela_cortes = "modelos_preditivos.kpi_saneatins_palmas_cortes_"
    
  elif (cidade != "43"):
    nome_tabela_pcr = "modelos_preditivos.kpi_saneatins_all_processos_"
    nome_tabela_cortes = "modelos_preditivos.kpi_saneatins_all_cortes_"
    
elif (unidade_operacional == "3"):
  if (cidade == "3"):
    nome_tabela_p = "modelos_preditivos.kpi_maua_maua_processos_"
    nome_tabela_cortes = "modelos_preditivos.kpi_maua_maua_cortes_"
    nome_tabela_cad = "modelos_preditivos.kpi_maua_maua_cadastros_"
  
sqlContext.sql("SET nome_tabela_p = " + nome_tabela_p)
sqlContext.sql("SET nome_tabela_cortes = " + nome_tabela_cortes)
sqlContext.sql("SET nome_tabela_cad = " + nome_tabela_cad)

In [5]:
def get_cortes_periodo():
  
  sql_cortes_periodo = """
                        select year(periodoabertura) as ano_corte, month(periodoabertura) as mes_corte, count(distinct idligacao) as cortados
                        from ${hiveconf:nome_tabela_cortes}
                        group by periodoabertura
                        order by periodoabertura              
                       """
  df_cortes_periodo = sqlContext.sql(sql_cortes_periodo)
  return df_cortes_periodo

In [6]:
%sql
select
 *,
 year(data_corte) ano_corte,
 month(data_corte) mes_corte,
 count(distinct data_corte) over (partition by cdc_proc_lig, idclienteinquilino order by data_corte range between dateadd(current_date, - 1) and dateadd(current_date, -360)) as qtde_cortes12m_previos
from modelos_preditivos.kpi_maua_maua_processos_
where idobjetivoprocessocorte = 2
and not statusligacaoprocesso = 'C'

In [7]:
%sql
select t3.ano_corte, t3.mes_corte, t4.cortados, t3.cortados_nao_c_12mprev
from (
      select t2.ano_corte, t2.mes_corte, count(distinct t2.cortado_naocortado12mprevios) cortados_nao_c_12mprev
      from (select t1.*,
            case 
              when (t1.qtde_cortes12m_previos <1) and (not t1.data_corte is null) 
              then t1.cdc_proc_lig else null end as cortado_naocortado12mprevios
            from (
                   select
                       *,
                       year(data_corte) ano_corte,
                       month(data_corte) mes_corte,
                       count(distinct data_corte) over (partition by cdc_proc_lig, idclienteinquilino order by data_corte range between dateadd(current_date, - 1) and dateadd(current_date, -360)) as qtde_cortes12m_previos
                   from modelos_preditivos.kpi_maua_maua_processos_
                   where idobjetivoprocessocorte = 2
                   and not statusligacaoprocesso = 'C') t1
              )t2
         group by t2.ano_corte, t2.mes_corte
         ) t3
inner join cortes_por_periodo t4
on t3.ano_corte = t4.ano_corte
and t3.mes_corte = t4.mes_corte

In [8]:
def get_cortados_naocortados12mesesprev():
  df_cortes_periodo = get_cortes_periodo()
  df_cortes_periodo.createOrReplaceTempView('cortes_por_periodo')
  
  sql_cortados_naocortados12M = """
                                select t3.ano_corte, t3.mes_corte, t4.cortados, t3.cortados_nao_c_12mprev
                                from (
                                      select t2.ano_corte, t2.mes_corte, count (distinct cortado_naocortado12mprevios) cortados_nao_c_12mprev
                                      from (
                                            select
                                            t1.*,
                                            case 
                                              when (t1.qtde_cortes12m_previos <1) and (not t1.data_corte is null ) 
                                              then cdc_proc_lig else null end as cortado_naocortado12mprevios
                                            from (
                                                  select
                                                  *,
                                                  year(data_corte) ano_corte,
                                                  month(data_corte) mes_corte,
                                                  count(distinct data_corte) over (partition by cdc_proc_lig, idclienteinquilino order by data_corte range between dateadd(current_date, - 1) and dateadd(current_date, -360)) as qtde_cortes12m_previos
                                                  from ${hiveconf:nome_tabela_p}
                                                  where idobjetivoprocessocorte = 2
                                                  and not statusligacaoprocesso = 'C') t1
                                            )t2
                                      group by t2.ano_corte, t2.mes_corte
                                    ) t3
                                  inner join cortes_por_periodo t4
                                  on t3.ano_corte = t4.ano_corte
                                  and t3.mes_corte = t4.mes_corte
                                """
  
  df_cortados_12m_previos = sqlContext.sql(sql_cortados_naocortados12M)
  return df_cortados_12m_previos

In [9]:
df_cortados_12m_previos  = get_cortados_naocortados12mesesprev()

In [10]:
if (unidade_operacional == "17"):
  if (cidade == "43"):
    df_cortados_12m_previos.write.saveAsTable(name= "modelos_preditivos.kpi_saneatins_palmas_cortados12M_", mode = 'overwrite')
  elif (cidade != "43"):
    df_cortados_12m_previos.write.saveAsTable(name= "modelos_preditivos.kpi_saneatins_all_cortados12M_", mode = 'overwrite')
elif (unidade_operacional == "3"):
  if (cidade == "3"):
    df_cortados_12m_previos.write.saveAsTable(name= "modelos_preditivos.kpi_maua_maua_cortados12M_", mode = 'overwrite')